<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    </head>
    <body>
        <h1>Hand Written Digit Recognition</h1>
        <hr>
        <div class="canvas">
            <canvas id="myCanvas"></canvas>
        </div>
        <div class="palette">
            <button id="reset">Clear</button>
            <input type="color" id="colorpicker" value="#000000">
            <input type="color" id="colorpicker2" value="#ffffff">
        </div>
        <p>Draw a digit or </p>
        <input type="file" accept="image/*" id="img">
        <button class="predict">Predict</button>
        <div class="output"></div>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>